# CONFIGURATION FILE FOR APSYNTRUE.

Npix = 512  # Image size (must be a power of 2)
            # Lower values speed up the program,
            # but too low values imply a more rough
            # pixelation.

# Data to load at start:
DefaultData = 'SR1_M87_EHT-2017_101_hi.uvfits' 
#DefaultData = 'SN1993J_5GHz.uvfits' 


## Setting this to True requires A LOT of RAM for the MEM algorithm, 
#  but accelerates the iterations quite a bit. If you set it to True, 
# you should work with images with a high Nyquist oversampling 
# (i.e., the sources should look large in the image). Otherwise, you 
# will likely run out of memory:

MemoryHungry = False

